In [1]:
#simple for loop(string)
str= 'Lion'
for i in str:
    print(i, end=' ')

L i o n

In [3]:
#list of strings
s=['cat','dog','cow']
for pet in s:
    print(pet)

cat
dog
cow

In [5]:
n=l=u=0
c=input("enter any character:")
if c>='0' and c<='9':
    n+=1
elif c>'A' and c<='z':
    l+=1
elif c>'A' and c<='Z':
    u+=1
print("lowercase char:",l)
print("uppercase char:",u)
print("number char:",n)

enter any character: krishna

lowercase char: 1
uppercase char: 0
number char: 0

In [7]:
n=int(input("enter the value of n"))
for i in range(1,n+1):
    print(i,end=' ')
for i in range(n,0,-1):
    print(i,end=' ')

enter the value of n 100

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [11]:
 n=int(input("enter the number to represent mulitiplication table"))
b=0
for i in range(0,20):
    b=n*i
    print(n,"X",i,"=",b)

enter the number to represent mulitiplication table 2

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
2 X 11 = 22
2 X 12 = 24
2 X 13 = 26
2 X 14 = 28
2 X 15 = 30
2 X 16 = 32
2 X 17 = 34
2 X 18 = 36
2 X 19 = 38

In [13]:
s=int(input("enter the starting year:"))
e=int(input("enter the ending year:"))
for i in range (s,e+1):
    if i%4==0:
        print(i,end=' ')

enter the starting year: 1900
enter the ending year: 2028

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028

In [15]:
n=int(input("enter the value of n:"))
s=0
for i in range(1,n+1):
    a=1/(i**2)
    s=s+a
print(s)

enter the value of n: 12

1.5649766384209025

In [45]:
n=int(input("enter the start day of month(1-7):"))
p=int(input("enter the number of days"))
print("SUN MON TUE WED THU FRI SAT")
print("---------------------------")
for i in range(n-1):
    print(end=" ")
i= n-1
for j in range(1,p+1):
    if i>6:
        print()
        i=1
    else:
        i+=1
 #a = str(j)
    print(j," ",end=' ')

enter the start day of month(1-7): 3
enter the number of days 30

SUN MON TUE WED THU FRI SAT
---------------------------
  1   2   3   4   5
6   7   8   9   10   11   12
13   14   15   16   17   18   19
20   21   22   23   24   25   26
27   28   29   30